 
 
  <div class="footer"> 
  
  <div class="menu_bg"> 
    <div class="footer_menu"> 
     <ul> 
       {zso:navlist (row='all' orderby='tj' parentid='0')}
      <li><a href="[path]">[typename (length='15')]</a></li> 
	  {/zso:navlist} 
     </ul> 
    </div> 
   </div>
   
      <div class="clear"></div> 
   
   <div class="foot"> 
    <div class="left">
     <a><img src="[field:logopath]"/></a>
    </div> 
    <div class="right_new"> 
     <h2 class="clear_h2"> 版权所有：[field:companyname][field:starttime]&nbsp;&nbsp;联系人: [field:linkpeople] </h2> 
     <p>手机: [field:mobile]&nbsp;&nbsp;电话: [field:phone]&nbsp;&nbsp;传真: [field:companyfax]</p>
    <p>邮箱: [field:companyemail]&nbsp;&nbsp;<!--网址: [field:companyurl]-->地址:  [field:companyaddress]<!--<a href="http://wayboo.cn/"><img src="/template/[field:css_color]/images/jishuzhichi_03.png" /></a>--> 
  </p>
 <p><a style="float:left" href="http://www.beian.miit.gov.cn">湘ICP备18021639号</a><a style="float:left; margin-left:25px" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43019002000881"><img style="padding-left:0; display:block; float:left; width:20px; margin-top:-3px" width="20" src="/template/[field:css_color]/images/guohui.png">湘公网安备43019002000881号</a></p>
    </div> 
      
   </div> 

    
  </div>
  
  
 
<script>
(function(){

    var bp = document.createElement('script');

    bp.src = '//push.zhanzhang.baidu.com/push.js';

    var s = document.getElementsByTagName("script")[0];

    s.parentNode.insertBefore(bp, s);

})();
</script>